body {
	padding: 0;
	margin: 0;
	color: black;
}

.help {
	visibility: hidden;
}

.header .beginning {
	margin: 0;
	background-size: cover;
	width: 100%;
    height: 500px;
    background: black url("img/galaktika.jpg") no-repeat bottom;
}

.title {
	margin: 0;
	padding-top: 100px;
	font-size: 1000%;
	color: ghostwhite;
	font-weight: bold;
	text-align: center;
}

.title a {
	color: white;
	text-decoration: none;
}

.list-nav {
	display: flex;
	margin: 10px 0;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
	align-items: center;
}

.logo {
	transition: 2s ease-out;
	transform: rotate(0deg);
}

.logo:hover{
	transition: 1s ease-out;
	background-color: white;
	transform: rotate(90deg);
}

.list-nav a img {
	height: 50px;
	width: 50px;
}

.list-nav a {
	display: inline-block;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 15px;
	margin: 5px;
}

.list-nav a:hover {
	color: #648ba9;
	background-color: ghostwhite;
}

.list-nav a:active {
	color: #648ba9;
	background-color: whitesmoke;
}

.list-nav .logo:hover {
	background-color: white;
}

.main-theme {
	position: relative;
	display: flex;
	align-items: center;
	background: url(img/bgi.png) repeat 55px -10px;
	background-size: contain;
	vertical-align: middle;
	justify-content: space-around;
	padding: 20px 0;
	min-height: 600px;
}

.main-theme .center {
    vertical-align: middle;
	margin: 0 15%;
	background: white;
	padding: 20px 40px;
	line-height: 25px;
}

.main-theme .center h2 {
	text-align: center;
	margin: 0;
	margin-bottom: 10px;
}


.dop-info {
	padding: 10px;
	border: 10px solid #54505c;
	border-radius: 10px;
}

.quaz {
	float: left;
	width: 40%;
	height: 40%;
	padding-right: 20px;
}

.footer {
	background-color: white;
	height: 250px;
	padding: 0;
}

.list-Artiom, .list-Eduard, .list-f{
	list-style: none;
	margin: 0;
	padding: 0;
}

.center-footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 250px;
	flex-wrap: wrap;
}

.nav-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.list-f {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 10px;
	border-left: 3px solid #283743;
	border-right: 3px solid #283743;
	margin-bottom: 15px;
}

.list-f li a {
	display: inline-block;
	color: #283743;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 15px;
}

.list-f li a:hover {
	color: #648ba9;
}

.list-f li a:active {
	color: #648ba9;
	background-color: ghostwhite;
}

.dop-mat {
	border: 1px solid #283743;
}

.dop-mat a {
	display: inline-block;
	color: #283743;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 15px;
}

.dop-mat a:hover {
	color: #648ba9;
	background-color: ghostwhite;
}

.dop-mat a:active {
	color: #648ba9;
	background-color: ghostwhite;
}

.list-lit li a{
	color: #283743;
	text-decoration: none;
}

.list-lit li a:hover {
	color: #343fa9;
}

.list-lit li a:active {
	color: whitesmoke;
}

.list-Artiom, .list-Eduard {
	margin: 0;
	padding: 0;
	padding-left: 70px;
}

.list-Artiom li a, .list-Eduard li a {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #283743;
	text-decoration: none;
}

.list-Artiom li a:hover, .list-Eduard li a:hover {
	color: #343fa9;
}

.list-Artiom li a:active, .list-Eduard li a:active {
	color: whitesmoke;
}

.list-Artiom li a img, .list-Eduard li a img {
	position: absolute;
	top: 3px;
	left: 0;
	width: 20px;
	height: 20px;
}

.Artiom img, .Eduard img {
	position: absolute;
	top: 18px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.Artiom, .Eduard {
	position: relative;
	padding: 10px;
	padding-bottom: 20px;
	border-left: 3px dashed black;
	border-radius: 35%;
}

.social {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.Eduard {
	margin-bottom: 10px;
}

.list-f a img {
	height: 35px;
	width: 35px;
}

.diamond {
	margin-right: 10px;
}

.diamond {
	transition: 2s ease-out;
	transform: scale(1.0);
}

.diamond:hover {
	transition: 1s ease-out;
	transform: scale(1.2);
}